@model IEnumerable<DogPoundDonationSystem.Models.Donation>

@{
    ViewData["Title"] = "Donations";
}

<h1>Donations</h1>

<p>
    @if(User.IsInRole("Donor"))
    {
        <a asp-action="Create">Make a Donation</a>

    }
</p>
<div class="mb-2 float-end">
    <a asp-action="Donations" class="btn btn-sm btn-secondary mr-2">All</a>
    <a asp-action="Donations" asp-route-sortbystatus="Accepted" class="btn btn-sm btn-primary mr-2">Accepted</a>
    <a asp-action="Donations" asp-route-sortbystatus="Pending" class="btn btn-sm btn-warning mr-2">Pending</a>
    <a asp-action="Donations" asp-route-sortbystatus="Cancelled" class="btn btn-sm btn-danger">Cancelled</a>
</div>
<table class="table table-primary table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Donation Created On
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>

            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Date)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
               
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>

                    @if (item.Type == "Goods")
                    {
                        <text>|</text> <a asp-action="Index" asp-controller="DonationItems" asp-route-id="@item.Id">Items</a>
                    }
                   
                    @if (item.Status != "Accepted")
                    {
                        <text>|</text> <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <text>|</text> <a class="text-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }


                    @if (User.IsInRole("Admin"))
                    {
                        @if(item.Status == "Accepted")
                        {
                            <text>|</text> <a class="text-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                        }
                        if (item.Status != "Accepted")
                        {

                            <text>|</text> <a class="text-success" asp-action="ChangeStatus" asp-route-id="@item.Id" asp-route-status="Accepted">Accept</a>

                        }
                        if (item.Status != "Pending")
                        {
                            <text>|</text> <a class="text-warning" asp-action="ChangeStatus" asp-route-id="@item.Id" asp-route-status="Pending">Set Pending</a>


                        }
                        if (item.Status != "Cancelled")
                        {
                            <text>|</text> <a class="text-danger" asp-action="ChangeStatus" asp-route-id="@item.Id" asp-route-status="Cancelled">Cancel</a>

                        }
                    }
                    
                </td>
        </tr>
}
    </tbody>
</table>
